Validate xml Project/Assignment3/Connected Services/ServiceReference2/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="verify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlstring" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xsd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verifyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transform">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlstring" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xslstring" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transformResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transformResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>